html,
body,
#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#infoDiv {
	width: 400px;
}

#legendDiv {
	width: 170px;
	padding-bottom: 1px;
}

#legendDiv > h3 {
	padding-top: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: 20px;
}

#legendDiv > h4 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
}

#legendDiv > ul {
	margin-top: 10px;
	margin-left: 35px;
	list-style-type: none;
	padding: 0px;
}

#chartPanel {
	background: white;
	font: "Avenir Next W00";
	line-height: 1.5em;
	overflow: auto;
	padding: 10px;
	width: 580px;
	height: 300px;
}

.chart {
	height: 280px;
}

/*
 * Use .SitePopup and .SiteDesignData to define rules for the popup content that appears when you click on a site
 */
.SiteDesignData {
	padding-left: 8px;
}