html,
body,
#viewDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#infoDiv {
	width: 400px;
	padding: 12px;
}

#legendDiv {
	width: 170px;
}

#rendererSelector {
	height: 80px;
	width: 100%;
}

.rendererItem {
	width: 100%;
	padding: 12px;
	text-align: center;
	vertical-align: baseline;
	cursor: pointer;
	height: 40px;
}

.rendererItem:focus, .rendererItem:hover {
	background-color: dimgrey;
}

#chartPanel {
	background: white;
	font: "Avenir Next W00";
	line-height: 1.5em;
	overflow: auto;
	padding: 10px;
	width: 580px;
	height: 300px;
}

.chart {
	height: 280px;
}